## OS X
.DS_STORE

##Eclipse IDE
bin/
temp/
.metadata
*.tmp
.settings/
local.properties

## Intellij IDE
.idea
out/

##General files
*.class
*.war
*.log
/target/
hs_err_pid*
.project
.classpath
.impl

